# Ignore files and directories when creating archives with `git archive`.
# This will exclude matching files from the role as distributed on Ansible
# Galaxy.

/.github/ export-ignore
/.github/** export-ignore
/scripts/ export-ignore
/scripts/** export-ignore
/tmp/ export-ignore
/tmp/** export-ignore
/vagrant/ export-ignore
/vagrant/** export-ignore

# XXX do not exclude (a) the `/tests/` hierarchy, as doing so breaks GitHub
# Actions, or (b) the `.gitattributes` file, as this appears to break the Nix
# flake.
# That is, do not do this:
#   /tests/ export-ignore
#   /tests/** export-ignore
#   .gitattributes export-ignore

*.nix export-ignore
.gitignore export-ignore
.travis.yml export-ignore
CONTRIBUTING.md export-ignore
Vagrantfile export-ignore
event.json export-ignore
flake.lock export-ignore
