<?xml version='1.0' encoding='utf-8'?>
<addon id="{{ item }}" name="{{ item }}" provider-name="generic" version="0.0.0">
<extension point="xbmc.python.pluginsource" provides="video">
</extension>
</addon>
